
.notification-area {
    height: 20px;
    padding: 10px;
}

.notification-area--success {
    color: green;
}

.notification-area--error {
    color: red;
}

section {
    padding: 10px 0;
    margin: 5px 0;
}
